.header {
  padding: var(--padding);

  border-bottom: 1px solid var(--border);
}

.header h2 {
  font-size: 2em;
}

.header p {
  margin-top: 5px;
  font-size: 1em;
  color: var(--text-secundary);
}
